# Auto detect text files and perform LF normalization
* text eol=lf

# Whitespace rules
# strict (no trailing, no tabs)
*.cpp    whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.h      whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol

# normal (no trailing)
*.sql    whitespace=trailing-space,space-before-tab,cr-at-eol
*.txt    whitespace=trailing-space,space-before-tab,cr-at-eol

# special files which must ignore whitespace
*.patch  whitespace=-trailing-space eol=lf
*.diff   whitespace=-trailing-space eol=lf

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

# Ignore sql/* files
data/sql/*    linguist-documentation

# Binary files must never be line-ending normalized
*.png    binary
*.jpg    binary
*.gif    binary
*.tga    binary
*.blp    binary
*.dbc    binary
*.MPQ    binary
*.mpq    binary
*.zip    binary
*.ogg    binary
*.mp3    binary
*.wav    binary
*.node   binary
*.dll    binary
*.exe    binary
*.ico    binary
*.ttf    binary
